
<button id="button-2" class="button" (click)='this.login()'>Login</button>

<br/><br/><br/><br/>
<button id="button-1" class="button" (click)='this.startProcess()'>Start registration process</button>

<br/><br/><br/><br/>
<ol>
  <li *ngFor="let task of tasks" (click)='beeba(task.name,task.id)'>
   {{task.name}} 
</li>
</ol>

<app-register *ngIf="taskName=='Registracija Korisnika'" [taskId]='taskId'></app-register>
<app-register-firm *ngIf="taskName=='Registracija firme'" [taskId]='taskId'></app-register-firm>

