<p>
  Dje si {{username}}
</p>
<br/><br/><br/><br/>
<button id="button-1" class="button" *ngIf="type=='regular'" (click)='this.startProcess()'>Start auction process</button>
<br/><br/><br/><br/>
<ol>
  <li *ngFor="let task of tasks" (click)='beeba(task.name,task.id)'>
   {{task.name}} 
	</li>
</ol>
<br/><br/><br/><br/>
<button id="button-1" class="button" (click)='this.logout()'>Logout</button>


<app-tender-request *ngIf="taskName=='Zahtjev za nabavkom robe'" [taskId]='taskId'></app-tender-request>
<app-tender-response *ngIf="taskName=='Odgovor na zahtev'" [taskId]='taskId'></app-tender-response>

<app-yes-no *ngIf="taskName=='Da li korisnik zeli da se zahtev prosledi na manji broj firmi'" [taskId]='taskId'></app-yes-no>
<app-yes-no *ngIf="taskName=='Da li proslediti na jos firmi'" [taskId]='taskId'></app-yes-no>
<app-razmatranje *ngIf="taskName=='Razmatranje ponuda'" [taskId]='taskId'></app-razmatranje>
<app-ocjeni *ngIf="taskName=='Potvrda zavrsetka posla i ocenjivanje firme'" [taskId]='taskId'></app-ocjeni>
<app-ocjeni *ngIf="taskName=='Ocenjivanje klijenta'" [taskId]='taskId'></app-ocjeni>
<app-ocjeni *ngIf="taskName=='Slobodni oblik'" [taskId]='taskId'></app-ocjeni>
<app-ocjeni *ngIf="taskName=='Odgovor agenta'" [taskId]='taskId'></app-ocjeni>
<app-yes-no *ngIf="taskName=='Da li ste zadovoljni'" [taskId]='taskId'></app-yes-no>