<div align="center">
<div *ngIf="redniBr!=''">
	<p>Redni broj vase ponude je  {{redniBr}}</p>
	<button id="button-2" class="button" (click)="this.complete1()">Zadovoljan sam ponudom</button>
</div>
<br/>
Pristanak<input type="checkBox" [(ngModel)]="tr.pristanak"/><br/>
Cijena usluge<input type="number" [(ngModel)]="tr.cijena"/><br/>
Rok izvrsetka usluge<input type="datetime-local" [(ngModel)]="tr.datum"/><br/>

<br/><br/><br/>
<button id="button-1" class="button" (click)="this.complete()">Posalji ponudu</button>

</div>
